*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: serif;
}
body{

    width: 100%;
    min-height: 100vh;
    background-color: 
    black; 
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding:15px 20px ;
    color: white;
    animation: header 2s ease-in-out ;
}
@keyframes header{
    0%{transform: translateY(-100%);

    }
}
nav li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 600;
    
}
.main{
    width: 100%;
    display: flex;
}
.content{
width: 50%;
margin-top: 8%;
margin-left: 5%;
color: white;
overflow: hidden;
animation: content 2s ease-in-out;
}
@keyframes content{
0%{
    opacity: 0;
    transform: translateX(-50%);
}


}
.content h2{
    font-size: 80px;
    margin-bottom: 1%;
    letter-spacing: 8px;
}
.content h4{
font-size: 25px;
margin-bottom: 3%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
span{
    color: yellow;
}
.content p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3%;
    
}
button{
    padding: 15px 30px;
    background-color: hotpink;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    

}
button:hover{
    background-color: red;
}
.imga{
    width: 50%;
    margin-top: 8%;
    position: absolute;
    bottom: -5%;
    display: flex;
    justify-content: center;
    animation: car 5s ease-in-out;

z-index: -50%;
transform: translateZ(-55);
}

@keyframes car{
0%{
transform: translateX(100%);

}
100%{
    transform: translateX(-220% );
}


}


@media screen and(max-width: 1200px){
    .content{
        width: 100%;
text-align: center;
    }

}
img{
    width: 20rem;
    z-index: -50%;
}
@media screen and(max-width: 576px){
    .content{
        width: 100%;
text-align: center;
    }

}
img{
    width: 40rem;
}
.content h2 h4{
    margin-bottom: 5%;
}

    
